cffi==1.9.1
click==6.7
cryptography==1.7.2
cssselect==1.0.1
cx-Oracle==5.2.1
Flask==0.12
futures==3.0.5
idna==2.2
itchat==1.2.19
itchatmp==0.0.7
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==0.23
NetEaseMusicApi==1.0.3
pyasn1==0.1.9
pycparser==2.17
queuelib==1.4.2
requests==2.13.0
six==1.10.0
tornado==4.4.2
w3lib==1.16.0
Werkzeug==0.11.15
