cffi==1.9.1
click==6.7
cryptography==1.7.2
cssselect==1.0.1
cx-Oracle==5.2.1
Flask==0.12
futures==3.0.5
idna==2.2
itchat==1.2.19
itchatmp==0.0.7
itsdangerous==0.24
Jinja2==2.9.5
MarkupSafe==0.23
NetEaseMusicApi==1.0.3
pyasn1==0.1.9
pycparser==2.17
queuelib==1.4.2
requests==2.13.0
six==1.10.0
tornado==4.4.2
w3lib==1.16.0
Werkzeug==0.11.15
appdirs==1.4.0
applepush==0.0.2
attrs==16.3.0
beautifulsoup4==4.5.3
constantly==15.1.0
h2==2.5.2
hpack==2.3.0
html5lib==0.999999999
hyper==0.7.0
hyperframe==3.2.0
incremental==16.10.1
lxml==3.7.2
packaging==16.8
parsel==1.1.0
pyasn1-modules==0.0.8
PyDispatcher==2.0.5
pyOpenSSL==16.2.0
pyparsing==2.1.10
Scrapy==1.3.0
service-identity==16.0.0
Twisted==16.6.0
webencodings==0.5
zope.interface==4.3.3
